
.submit{
background-color:#27ae60;
margin-bottom: 10px;
}

.top-section {
    @apply rounded-t-lg bg-blue-800 text-white font-inter;
}

.alert-container {
    height:100vh;
    width:100%;
    background-color:white;
}

.alert-docName {
    height: 100px;
    max-width: 430px;
    margin:auto;
}

@media screen and (max-width:600px) {
    .alert-docName {
     margin: 15px;
     margin-top: 170px;
    }
    .email-container {
        flex-direction: column;
    }
    .switch-account {
        margin-top: 10px;
    }
  }