.container {
    background: linear-gradient(100.42deg, #2F419F 4.97%, #4872B1 56.44%, #4DB4AE 86.12%, #2CDCB2 100%);    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60vh;
    @apply w-full md:h-cardcontainer;
}

.small_container {
    @extend .container;
    min-height: 60vh;
}

.overlay {
    @apply w-full h-full bg-black bg-opacity-20 flex justify-center relative;
}

.bgimg {
    opacity: 0.08;
    @apply absolute h-cardcontainer w-full hidden object-cover md:block z-0 brightness-0;
}

.burger {
    @apply absolute md:hidden top-5 left-5 text-white; 
}

.menubar {
    @apply absolute top-16 md:top-12 max-w-7xl flex w-full justify-center md:px-10 lg:px-24 2xl:px-32 items-center z-10 gap-x-6 lg:gap-x-10;
}

.menu {
    @apply hidden md:flex items-center justify-center bg-black text-white bg-opacity-25 w-full h-12 px-4 lg:px-12 rounded-sm shadow-md;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu_link:hover {
    @apply cursor-pointer;
    text-shadow: white 0px 0px 1px;
}

.firstmenu {
    @apply flex gap-x-3 lg:gap-x-8 font-pops text-lg;
}

.secondmenu {
    @apply flex gap-x-3 lg:gap-x-6 ml-auto font-pops text-lg;
}

.heroSection {
    @apply absolute text-center justify-center items-center w-full top-52 md:top-48 text-white font-pops px-4 space-y-5;
}

.logged_heroSection {
    @extend .heroSection;
    @apply flex flex-col md:flex-row gap-x-16 lg:gap-x-24 md:py-6;
}

.herotitle {
    @apply text-center text-2xl sm:text-3xl md:text-4xl antialiased font-medium font-pops;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.herotext {
    @apply text-center text-xl md:text-2xl antialiased font-light md:font-normal font-inter ;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btns_wrapper {
    @apply flex flex-col lg:flex-row w-full justify-center items-center gap-x-5 gap-y-5 pt-1;
}

.getstartedbtn {
    @apply px-4 py-1 rounded-sm text-lg shadow-lg hover:scale-95;
    background:#21B689;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.hidden_btn {
    @apply hidden;
}

.getstartedbtn:hover {
   background: #1B7D60 ;  
}

.getstartedbtn:active {
    transform: scale(0.95);
}

.add_btn {
    @apply h-24 md:h-36 w-32 bg-gray-50 bg-opacity-20 text-white 
    font-pops text-lg space-y-1 rounded-lg shadow-lg border border-extra-placeholder;
    text-shadow: white 0px 0px 0.5px;
}

.add {
    @apply h-12 w-12 md:h-14 md:w-14;
}

.add_btn:hover {
    @apply bg-opacity-25;
    .create {
        text-shadow: white 0px 0px 1.5px;
    }
}

