.footer {
    @apply bg-blue-900;
}

.top_footer {
    @apply flex justify-around py-4;
}

.form {
    @apply hidden md:flex flex-col gap-y-4 w-full max-w-xs my-1;
}

.input_field {
    @apply py-1 px-3 shadow-md resize-none outline-none focus-within:bg-opacity-30 bg-black bg-opacity-20 
    rounded-sm font-light placeholder-opacity-90 placeholder-gray-300 text-white;
}

.send_btn {
    @apply py-1 rounded-sm text-white text-lg shadow-lg hover:scale-95;
    background:#1B7D60;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.sitemap {
    @apply list-disc text-white font-light my-1 space-y-1;
}

.send_btn:hover {
   background:#21B689 ;  
}

.send_btn:active {
    transform: scale(0.95);
}

.logo_Links_Section {
    @apply flex flex-col gap-y-9 items-end my-3;
}

.social_links {
    @apply flex gap-x-6;
}

.link {
    @apply cursor-pointer hover:underline;
}

.bottom_footer {
    @apply flex justify-center gap-x-2 border-t py-2 border-lightblue text-white font-light text-sm
    mx-6 md:mx-12 lg:mx-20;
}

