
.container{
  display: flex;
  justify-content: center;
  background-color: #F4F4F9;   
}

#recent-forms{
  padding: 8px;
  padding-bottom: 2px;
}

#dash-container{
display:flex;
align-items: center;
flex-direction: column;
min-height: 420px;
padding-top: 14px;
padding-bottom: 20px;
margin-bottom: 10px;
background-color: #F4F4F9;  
}

#card-container{
max-width: 950px;
align-items: center;
padding: 10px;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
padding: 20px 0;
}

@media screen and (max-width:800px) {
  #card-container{
    justify-content: center;
  }
}